<section class="profile container">
	<div class="row mb-1">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<mat-card class="title-card">
			  <mat-card-content>
			  	<div class="d-flex">
			  		<h5><strong>Hellow, {{ user}}</strong></h5>
					<p class="ms-auto">Welcome to the Dashbord</p>
				</div>
			  </mat-card-content>
			</mat-card>
		</div>
		<div class="col-lg-6 mb-3">
			<mat-card class="prs-card">
			  <mat-card-content>Simple card</mat-card-content>
			</mat-card>
		</div>
		<div class="col-lg-6">
			<mat-card class="mb-3 cmn-card">
			  <mat-card-content>Simple card</mat-card-content>
			</mat-card>
			<mat-card class="mb-3 cmn-card">
			  <mat-card-content>Simple card</mat-card-content>
			</mat-card>
		</div>
	</div>
</section>