<section class="section container-fluid">
  <div class="row mb-3">
    <div class="col-lg-8 col-md-8 col-sm-12">
      <div class="d-flex">
        <div class="notification-title">Notification</div>
        <div class="ms-auto notification-title">Unread:(99+)</div>
      </div>
    	<div class="notification-card-container">
    		<mat-accordion>
        <mat-expansion-panel *ngFor="let notification of notifications" class="mb-1"
        [ngClass]="{'read': notification.isRead.data[0] === 1, 'unread': notification.isRead.data[0] === 0}">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ notification.sender }}
            </mat-panel-title>
            <mat-panel-description>
                <div class="ms-auto">{{ notification.timestamp}}</div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="container">
            <div>{{ notification.message }}</div>
          <p>{{ notification.timestamp }}</p>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    	</div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <div class="d-flex">
        <div class="ms-auto notification-title">Live logs</div>
      </div>
      <div class="fixed-card-container">
        <mat-card class="fixed-card">
          <mat-card-content>
            <div *ngFor="let log of logs">
              <p>{{ log.message }}</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>


