
mat-card-content {
  max-height: 700px; 
  /* Set the maximum height for the card content */
  width: 100%px;
  overflow-y: auto;
  overflow-x:auto;
}

mat-card{
    border:1.5px solid #3F51B5 ;
    max-height: 60vh;
    
}

.card-header {
  border-radius: 5px;
  background-color: white;
  border-top: 1.5px solid #3f51b5;
}

.card-footer {
  border-bottom: 1.5px solid #3f51b5;
  border-radius: 5px;
  background-color: white;
}

.example-large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
}
.example-large-box {
  height: 600px;
  width: 92%;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  padding: 16px;
  border-radius: 8px;
}

.example-card {
  max-width: 300px;
  height: 100px;
  margin: auto;
  margin-bottom: 7%;
}
.button-row {
  margin-block: 5%;
}
.cards-column {
  display: flex;
  align-items: center;
  flex-direction: Row;
  width: 100%;
}

.card-item {
  margin-bottom: 16px;
  width: 300px;
  height: 70px;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.user-text {
  align-items: center;
  margin: auto;
}
.tab-group{
margin-top: 3.0rem;
}

.button-row{
  margin-left: 2%;
  margin-top: 2%;
    justify-content: center;
    align-items: center;
  }
  /* tr:nth-child(even){
    background-color: whitesmoke;
  }
  
  tr:nth-child(odd){
    background-color: whitesmoke;
  }
   */
  table {
    max-height: 60vh;
    width:100%;

    } 
    

