
.content{
  padding: 1rem;
  padding-top: 5rem;
}
tr:nth-child(even){
background-color: whitesmoke;
}
  
tr:nth-child(odd){
background-color: whitesmoke;
}
th{
text-align: center;
z-index: 1;
}

td{
text-align: center;
}

@media screen and (max-width: 768px){
  
}
.mat-table-sticky {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white; 
}
.example-table-container {
  position: relative;
  min-height: 200px;
  max-height: 500px;
  overflow: auto;
  width: 550px;
  max-width: 100%;
}
.example-container {
  height: 500px;
  overflow: auto;
}
.container{
  margin-bottom:2.5rem;
}