<div class="container-fluid">
  <div class="row edit-head mb-2">
    <div class="col-lg-12 col-md-12 col-sm-12 pt-1">
      <div class="edit-title">Edit - Device Details</div>
    </div>
  </div>
  <div class="row">
  	<div class="col-lg-12 mb-1">
  		<mat-form-field class="from-field">
		  <mat-label>Device Name</mat-label>
		  <mat-select [(value)]="selectedDevice" required>
		    <mat-option *ngFor="let option of deviceOptions" [value]="option">
		      {{ option }}
		    </mat-option>
		  </mat-select>
		  <mat-error *ngIf="selectedDevice.invalid">
		    Please select a device.
		  </mat-error>
		</mat-form-field>
  	</div>
  	<div class="col-lg-12 mb-1">
  		<mat-radio-group [(ngModel)]="selectedRadioButton">
  			<div class="row">
  				<div class="col-lg-12">
						<mat-radio-button value="Last">Last</mat-radio-button>
				    <div *ngIf="selectedRadioButton === 'Last'">
						  <mat-form-field class="from-field-sm">
						    <mat-label>Last</mat-label>
						    <mat-select>
						      <mat-option value="option1">30 Seconds</mat-option>
						      <mat-option value="option2">1 Minute</mat-option>
						      <mat-option value="option3">2 Minutes</mat-option>
						      <mat-option value="option4">5 Minutes</mat-option>
						      <mat-option value="option5">10 Minutes</mat-option>
						      <mat-option value="option6">30 Minutes</mat-option>
						      <mat-option value="option7">1 Hour</mat-option>
						      <mat-option value="option8">2 Hours</mat-option>
						      <mat-option value="option9">10 Hours</mat-option>
						      <mat-option value="option10">12 Hours</mat-option>
						      <mat-option value="option11">1 Day</mat-option>
						      <mat-option value="option12">7 Days</mat-option>
						      <mat-option value="option13">30 Days</mat-option>
						    </mat-select>
						  </mat-form-field>
						</div>
					</div>
					<div class="col-lg-12">
						<mat-radio-button value="timePeriod">Time Period</mat-radio-button>
				  	<div *ngIf="selectedRadioButton === 'timePeriod'">
				  		<div class="row">
					  		<div class="col-md-6">
								  <mat-form-field class="from-field-sm">
									  <mat-label>Start Date</mat-label>
									  <input matInput [matDatepicker]="picker">
									  <mat-hint>MM/DD/YYYY</mat-hint>
									  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
									  <mat-datepicker #picker></mat-datepicker>
									</mat-form-field>
								</div>
								<div class="col-md-6">
								  <mat-form-field class="from-field-sm">
									  <mat-label>End Date</mat-label>
									  <input matInput [matDatepicker]="picker">
									  <mat-hint>MM/DD/YYYY</mat-hint>
									  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
									  <mat-datepicker #picker></mat-datepicker>
									</mat-form-field>
								</div>
							</div>
						</div>
  				</div>
  			</div>
			  
			  
			</mat-radio-group>

  	</div>
    <div class="col-md-6 justify-content-end d-flex mb-2">
      <button mat-raised-button (click)="onNoClick()">Close</button>
    </div>
    <div class="col-md-6 mb-2">
      <button mat-raised-button color="primary" (click)="onSaveClick()">Filter</button>
    </div>
    <div class="col-md-12 mb-2">
      <div class="text-center">
        <button mat-stroked-button color="primary" class="download-button" style="width: 60%">
        	<mat-icon>file_download</mat-icon>
          Download Report
        </button>
      </div>
    </div>
  </div>
</div>
