<div class="mail">
	<div class="container">
		<div class="row">
			<mat-card class="mail-card">
				<mat-card-content>
					<img src="../../../../../assets/img/mail.gif" class="mail-img" alt="Animation GIF">
					<h2>Thanks for Choosing us!</h2>
					<p>An email has been sent to <strong>{{ companyEmail }}</strong>. Please check your email and click the verification link to complete your account registration.</p>
					<p>Didn't Receive Mail?</p><a href="#">Resend ({{ counter }}s)</a>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>
