<div *ngIf="saService.pageLoading"><app-page-loading></app-page-loading></div>
<div *ngIf="!saService.pageLoading">
  <div *ngIf="!displayGraphFull1">
    <div *ngIf="!displayGraphFull2">
        <div *ngIf="!displayGraphFull3">
            <div *ngIf="!displayGraphFull4">
                <div class="content">
                    <div class="demo-button-container">
                    <div class="row">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-3 col-md-3 col-sm-6 mx-auto mt-3 text-hide">
                        <h1>API Usage</h1>
                        </div>
                
                        <div class="col col-lg-3 col-md-6 col-sm-6 d-flex justify-content-end">
                        <mat-form-field appearance="fill" class="demo-button">
                            <mat-label>Search</mat-label>
                            <input matInput placeholder="Enter name" #input />
                        </mat-form-field>
                        <button
                            mat-mini-fab
                            class="demo-button"
                            aria-label="Example icon button with a menu icon"
                        >
                            <mat-icon>add</mat-icon>
                        </button>
                        <button
                            mat-mini-fab
                            class="demo-button"
                            aria-label="Example icon button with a menu icon"
                        >
                            <mat-icon>filter_list</mat-icon>
                        </button>
                        </div>
                    </div>
                    </div>
                    <div>
                    <!-- Outer Container -->
                    <div style="padding-bottom: 5vh">
                        <!-- Row 1 -->
                        <div class="row col-lg-12 col-md-12 col-sm-12">
                        <!-- Column 1 -->
                        <div class="col-lg-3 col-md-3 col-sm-12 mt-3" >
                            <mat-card>
                            <mat-card-content class="justify-content-center">
                                <!-- Transport Status -->
                
                                <div class="row d-flex">
                                <div class="col">Transport</div>
                                <div class="col text-success ms-auto">Enabled</div>
                                </div>
                                <!-- Transport Progress Bars -->
                                <div class="row mt-3">
                                <!-- Message Progress -->
                                <div class="col">
                                    Message
                                    <br />
                                    <mat-progress-bar
                                    mode="buffer"
                                    [value]="progressValue"
                                    [bufferValue]="bufferValue"
                                    class="custom-progress-bar"
                                    ></mat-progress-bar>
                                    <p class="d-flex justify-content-end">
                                    {{ progressValue }} / {{ bufferValue }}
                                    </p>
                                </div>
                
                                <!-- Data Points Progress -->
                                <div class="col">
                                    Data Points
                                    <br />
                
                                    <!-- <div class="progress" style="height: 20px;">
                                                        <div class="progress-bar" role="progressbar" style="width: 25%; background-color:#58C175 ;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div> -->
                                    <mat-progress-bar
                                    mode="buffer"
                                    [value]="progressValue"
                                    [bufferValue]="bufferValue"
                                    class="custom-progress-bar"
                                    ></mat-progress-bar>
                                    <p class="d-flex justify-content-end">
                                    {{ progressValue }} / {{ bufferValue }}
                                    </p>
                                </div>
                                </div>
                                <hr />
                                <!-- View Details Button -->
                                <div class="row">
                                <div class="d-flex justify-content-end">
                                    <button
                                    mat-raised-button
                                    style="background-color: #263238; color: white"
                                    >
                                    View details
                                    </button>
                                </div>
                                </div>
                            </mat-card-content>
                            </mat-card>
                        </div>
                
                        <div class="col-lg-3 col-md-3 col-sm-12 mt-3" >
                            <mat-card>
                            <mat-card-content class="justify-content-center">
                                <div class="row">
                                <div class="col">Rule Engine</div>
                                <div class="col text-success">Enabled</div>
                                </div>
                                <div class="row mt-3">
                                <div class="col">
                                    Executions
                                    <br />
                                    <mat-progress-bar
                                    mode="buffer"
                                    [value]="progressValue"
                                    [bufferValue]="bufferValue"
                                    color="warning"
                                    class="custom-progress-bar"
                                    ></mat-progress-bar>
                                    <p class="d-flex justify-content-end">
                                    {{ progressValue }} / {{ bufferValue }}
                                    </p>
                                </div>
                                </div>
                                <hr />
                                <div class="row">
                                <div class="d-flex justify-content-end">
                                    <button
                                    mat-raised-button
                                    style="background-color: #263238; color: white"
                                    >
                                    view Details
                                    </button>
                                </div>
                                </div>
                            </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 mt-3" >
                            <mat-card>
                            <mat-card-content class="justify-content-center">
                                <div class="row">
                                <div class="col">Java Script</div>
                                <div class="col text-success">Enabled</div>
                                </div>
                                <div class="row mt-3">
                                <div class="col">
                                    Alarms created
                                    <br />
                                    <mat-progress-bar
                                    mode="buffer"
                                    [value]="progressValue"
                                    [bufferValue]="bufferValue"
                                    class="custom-progress-bar"
                                    ></mat-progress-bar>
                                    <p class="d-flex justify-content-end">
                                    {{ progressValue }} / {{ bufferValue }}
                                    </p>
                                </div>
                                </div>
                                <hr />
                                <div class="row">
                                <div class="d-flex justify-content-end">
                                    <button
                                    mat-raised-button
                                    style="background-color: #263238; color: white"
                                    >
                                    View Details
                                    </button>
                                </div>
                                </div>
                            </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 mt-3" >
                            <mat-card>
                            <mat-card-content class="justify-content-center">
                                <div class="row">
                                <div class="col">Telementry</div>
                                <div class="col text-success">Enabled</div>
                                </div>
                                <div class="row mt-3">
                                <div class="col">
                                    Messsage
                                    <br />
                                    <mat-progress-bar
                                    mode="buffer"
                                    [value]="progressValue"
                                    [bufferValue]="bufferValue"
                                    class="custom-progress-bar"
                                    ></mat-progress-bar>
                                    <p class="d-flex justify-content-end">
                                    {{ progressValue }} / {{ bufferValue }}
                                    </p>
                                </div>
                                <div class="col">
                                    Data Points
                                    <br />
                                    <mat-progress-bar
                                    mode="buffer"
                                    [value]="progressValue"
                                    [bufferValue]="bufferValue"
                                    class="custom-progress-bar"
                                    ></mat-progress-bar>
                                    <p class="d-flex justify-content-end">
                                    {{ progressValue }} / {{ bufferValue }}
                                    </p>
                                </div>
                                </div>
                                <hr />
                                <div class="row">
                                <div class="d-flex justify-content-end">
                                    <button
                                    mat-raised-button
                                    style="background-color: #263238; color: white"
                                    >
                                    View Details
                                    </button>
                                </div>
                                </div>
                            </mat-card-content>
                            </mat-card>
                        </div>
                        </div>
                        <div class="row col-lg-12 col-md-12 col-sm-12">
                        <div class="col col-lg-6 col-md-6 col-sm-12 mt-3">
                            <mat-card class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <mat-card-header>
                                <div class="row col-sm-12 col-lg-12 col-md-12">
                                <div class="col-sm-12 col-lg-8 col-md-8 mx-auto">
                                    <h5>Transport hourly activity</h5>
                                </div>
                                <div
                                    class="col-sm-12 col-lg-4 col-md-4 d-flex justify-content-around">
                                    <button
                                    mat-mini-fab
                                    style="background-color: #263238"
                                    aria-label="Example icon button with a menu icon"
                                    >
                                    <mat-icon>assessment</mat-icon>
                                    </button>
                                    <button
                                    mat-mini-fab
                                    style="background-color: #263238"
                                    aria-label="Example icon button with a menu icon"
                                    (click)="fullScrrenGraph1()"
                                    >
                                    <mat-icon>aspect_ratio</mat-icon>
                                    </button>
                                </div>
                                </div>
                            </mat-card-header>
                            <mat-card-content>
                                <!-- edited full screen bar ghaph  -->
                                <div class="bar-container">
                                <div class="row mt-3">
                                 <app-graph1></app-graph1>
                                </div>
                                </div>
                            </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col col-lg-6 col-md-6 col-sm-12 mt-3">
                            <mat-card class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <mat-card-header>
                                <div class="row col-sm-12 col-lg-12 col-md-12">
                                <div class="col-sm-12 col-lg-8 col-md-8 mx-auto">
                                    <h5>Rule-engine hourly activity</h5>
                                </div>
                                <div
                                    class="col-sm-12 col-lg-4 col-md-4 d-flex justify-content-around">
                                    <button
                                    mat-mini-fab
                                    style="background-color: #263238"
                                    aria-label="Example icon button with a menu icon"
                                    >
                                    <mat-icon>assessment</mat-icon>
                                    </button>
                                    <button
                                    mat-mini-fab
                                    style="background-color: #263238"
                                    aria-label="Example icon button with a menu icon"
                                    (click)="fullScrrenGraph2()"
                                    >
                                    <mat-icon>aspect_ratio</mat-icon>
                                    </button>
                                </div>
                                </div>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row mt-2">
                                <div class="row data-charts mt-2">
                                    <!-- add bargraph here  -->
                                    <!-- <div id="curvedLine2" style="height: 160px;"></div> -->
                                </div>
                                </div>
                            </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col col-lg-6 col-md-6 col-sm-12 mt-2">
                            <mat-card class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <mat-card-header>
                                <div class="row col-sm-12 col-lg-12 col-md-12">
                                <div class="col-sm-12 col-lg-8 col-md-8 mx-auto">
                                    <h5>Java script functionality hourly activity</h5>
                                </div>
                                <div
                                    class="col-sm-12 col-lg-4 col-md-4 d-flex justify-content-around"
                                >
                                    
                                    <button
                                    mat-mini-fab
                                    style="background-color: #263238"
                                    aria-label="Example icon button with a menu icon"
                                    >
                                    <mat-icon>assessment</mat-icon>
                                    </button>
                                    <button
                                    mat-mini-fab
                                    style="background-color: #263238"
                                    aria-label="Example icon button with a menu icon"
                                    (click)="fullScrrenGraph3()"
                                    >
                                    <mat-icon>aspect_ratio</mat-icon>
                                    </button>
                                </div>
                                </div>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="row data-charts mt-2">
                                <!-- add bargraph here  -->
                                <!-- <div id="curvedLine3" style="height:160px"> </div> -->
                                </div>
                            </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col col-lg-6 col-md-6 col-sm-12 mt-2">
                            <mat-card class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <mat-card-header>
                                <div class="row col-sm-12 col-lg-12 col-md-12">
                                <div class="col-sm-12 col-lg-8 col-md-8 mx-auto">
                                    <h5>Alarms created hourly activity</h5>
                                </div>
                                <div
                                    class="col-sm-12 col-lg-4 col-md-4 d-flex justify-content-around"> 
                                    <button
                                    mat-mini-fab
                                    style="background-color: #263238"
                                    aria-label="Example icon button with a menu icon"
                                    >
                                    <mat-icon>assessment</mat-icon>
                                    </button>
                                    <button
                                    mat-mini-fab
                                    style="background-color: #263238"
                                    aria-label="Example icon button with a menu icon"
                                    (click)="fullScrrenGraph4()"
                                    >
                                    <mat-icon>aspect_ratio</mat-icon>
                                    </button>
                                </div>
                                </div>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="mt-2">
                                <!-- add bargraph here  -->
                                <!-- <div id="curvedLine6" style="height:160px"> </div> -->
                                </div>
                            </mat-card-content>
                            </mat-card>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
      </div>
    </div>
  </div>
  
    <div *ngIf="displayGraphFull1">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <mat-card class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <mat-card-header>
                            <div class="row col-sm-12 col-lg-12 col-md-12">
                                <div class="col-sm-12 col-lg-8 col-md-8 mx-auto">
                                <h5>Transport hourly activity</h5>
                                </div>
                                <div
                                class="col-sm-12 col-lg-4 col-md-4 d-flex justify-content-between"
                                >
                                <button
                                    mat-mini-fab
                                    style="background-color: #263238"
                                    aria-label="Example icon button with a menu icon"
                                >
                                    <mat-icon>menu</mat-icon>
                                </button>
                                <button
                                    mat-mini-fab
                                    style="background-color: #263238"
                                    aria-label="Example icon button with a menu icon"
                                >
                                    <mat-icon>assessment</mat-icon>
                                </button>
                                <button
                                    mat-mini-fab
                                    style="background-color: #263238"
                                    aria-label="Example icon button with a menu icon"
                                    (click)="fullScrrenGraph1()"
                                >
                                    <mat-icon>aspect_ratio</mat-icon>
                                </button>
                                </div>
                            </div>
                            </mat-card-header>
                            <mat-card-content>
                            <!-- edited full screen bar ghaph  -->
                            <div class="bar-container">
                                <div class="row mt-3">
                                  <app-graph1></app-graph1>
                                </div>
                            </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="displayGraphFull2">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <mat-card class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <mat-card-header>
                              <div class="row col-sm-12 col-lg-12 col-md-12">
                                <div class="col-sm-12 col-lg-8 col-md-8 mx-auto">
                                  <h5>Rule-engine hourly activity</h5>
                                </div>
                                <div
                                  class="col-sm-12 col-lg-4 col-md-4 d-flex justify-content-between"
                                >
                                  <button
                                    mat-mini-fab
                                    style="background-color: #263238"
                                    aria-label="Example icon button with a menu icon"
                                  >
                                    <mat-icon>menu</mat-icon>
                                  </button>
                                  <button
                                    mat-mini-fab
                                    style="background-color: #263238"
                                    aria-label="Example icon button with a menu icon"
                                  >
                                    <mat-icon>assessment</mat-icon>
                                  </button>
                                  <button
                                    mat-mini-fab
                                    style="background-color: #263238"
                                    aria-label="Example icon button with a menu icon"
                                    (click)="fullScrrenGraph2()"
                                  >
                                    <mat-icon>aspect_ratio</mat-icon>
                                  </button>
                                </div>
                              </div>
                            </mat-card-header>
                            <mat-card-content>
                              <div class="row mt-2">
                                <div class="row data-charts mt-2">
                                  <!-- add bargraph here  -->
                                  <div id="curvedLine2" style="height: 160px;"></div>
                                </div>
                              </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="displayGraphFull3">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <mat-card class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <mat-card-header>
                              <div class="row col-sm-12 col-lg-12 col-md-12">
                                <div class="col-sm-12 col-lg-8 col-md-8 mx-auto">
                                  <h5>Java script functionality hourly activity</h5>
                                </div>
                                <div
                                  class="col-sm-12 col-lg-4 col-md-4 d-flex justify-content-between"
                                >
                                  <button
                                    mat-mini-fab
                                    style="background-color: #263238"
                                    aria-label="Example icon button with a menu icon"
                                  >
                                    <mat-icon>menu</mat-icon>
                                  </button>
                                  <button
                                    mat-mini-fab
                                    style="background-color: #263238"
                                    aria-label="Example icon button with a menu icon"
                                  >
                                    <mat-icon>assessment</mat-icon>
                                  </button>
                                  <button
                                    mat-mini-fab
                                    style="background-color: #263238"
                                    aria-label="Example icon button with a menu icon"
                                    (click)="fullScrrenGraph3()"
                                  >
                                    <mat-icon>aspect_ratio</mat-icon>
                                  </button>
                                </div>
                              </div>
                            </mat-card-header>
                            <mat-card-content>
                              <div class="row data-charts mt-2">
                                <!-- add bargraph here  -->
                                <div id="curvedLine3" style="height:160px"> </div>
                              </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="displayGraphFull4">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <mat-card class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <mat-card-header>
                              <div class="row col-sm-12 col-lg-12 col-md-12">
                                <div class="col-sm-12 col-lg-8 col-md-8 mx-auto">
                                  <h5>Alarms created hourly activity</h5>
                                </div>
                                <div
                                  class="col-sm-12 col-lg-4 col-md-4 d-flex justify-content-between"
                                >
                                  <button
                                    mat-mini-fab
                                    style="background-color: #263238"
                                    aria-label="Example icon button with a menu icon"
                                  >
                                    <mat-icon>menu</mat-icon>
                                  </button>
                                  <button
                                    mat-mini-fab
                                    style="background-color: #263238"
                                    aria-label="Example icon button with a menu icon"
                                  >
                                    <mat-icon>assessment</mat-icon>
                                  </button>
                                  <button
                                    mat-mini-fab
                                    style="background-color: #263238"
                                    aria-label="Example icon button with a menu icon"
                                    (click)="fullScrrenGraph4()"
                                  >
                                    <mat-icon>aspect_ratio</mat-icon>
                                  </button>
                                </div>
                              </div>
                            </mat-card-header>
                            <mat-card-content>
                              <div class="mt-2">
                                <!-- add bargraph here  -->
                                <div id="curvedLine4" style="height:160px"> </div>
                              </div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>


