.content{
  padding: 1rem;
  padding-top: 5rem;
 margin-bottom: 2rem;
}
.demo-button-container {
  padding-bottom: 16px;
}


.demo-button + .demo-button {
  margin-left: 8px;
  background-color:#263238; 
}
@media(max-width:501px){
  .text-hide{
    display: none;
  }
}


  .progress-bar {
    background-color: #58C175; /* Set the desired color */
  }

  /* CSS class to expand the graph to full screen */


  
