<div class="content">
  <div class="demo-button-container">
    <div class="row">
      <div class="col-lg-3">
        <button mat-stroked-button color="primary" class="mx-auto ">
          <mat-icon>filter_list</mat-icon>Filter:Active
        </button>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 mx-auto mt-3 text-hide">
        <h1>Alarms</h1>
      </div>

      <div class="col col-lg-3 col-md-6 col-sm-6 d-flex justify-content-end">
        
        <button mat-mini-fab class="demo-button" aria-label="Example icon button with a menu icon">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab  class="demo-button " aria-label="Example icon button with a menu icon">
          <mat-icon>refresh</mat-icon>
        </button>  
      </div>
    </div>
  </div>

  <div>
    <section class="example-container mat-elevation-z8" tabindex="0">
      <table mat-table [dataSource]="dataSource">

        <!-- Position Column -->
        <ng-container matColumnDef="createtime">
          <th mat-header-cell *matHeaderCellDef> Create Time </th>
          <td mat-cell *matCellDef="let element"> {{element.createtime}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="device_name">
          <th mat-header-cell *matHeaderCellDef>device_name </th>
          <td mat-cell *matCellDef="let element"> {{element.device_name}} </td>
        </ng-container>
        <!-- device ip col  -->
        <ng-container matColumnDef="device_ip">
          <th mat-header-cell *matHeaderCellDef>device_ip </th>
          <td mat-cell *matCellDef="let element"> {{element.device_ip}} </td>
        </ng-container>



        <!-- type Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef>type</th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <!-- Severity Column -->
        <ng-container matColumnDef="Severity">
          <th mat-header-cell *matHeaderCellDef> Severity </th>
          <td mat-cell *matCellDef="let element"> {{element.Severity}} </td>
        </ng-container>

        <!-- Assignee coloumn  -->
        <ng-container matColumnDef="assignee">
          <th mat-header-cell *matHeaderCellDef>Assignee</th>
          <td mat-cell *matCellDef="let element"> {{element.assignee }} </td>
        </ng-container>

        <!-- status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> status </th>
          <td mat-cell *matCellDef="let element"> {{element.status }} </td>
        </ng-container>


        <!-- Details coloumn  -->
        <ng-container matColumnDef="details">
          <th mat-header-cell *matHeaderCellDef> Details </th>
          <td mat-cell *matCellDef="let element" class="col-lg-2 col-sm-2 col-md-2">
            <button mat-icon-button color="warn">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </section>
    <mat-paginator [pageSize]="10" aria-label="Select page of GitHub search results"></mat-paginator>
  </div>