<section class="data container">
	<div class="row mb-2">
		<div class="col-lg-8 col-md-8 col-sm-12 mb-2">
			<mat-card class="data-charts">
			  <mat-card-content>
			  	<div id="curvedLineChart2" class="chart-container"></div>
			  </mat-card-content>
			</mat-card>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 mb-2">
			<mat-card class='mb-2 data-charts'>
			  <mat-card-content>
			  	<div id="donutChart" class="chart-container"></div>
			  </mat-card-content>
			</mat-card>
		</div>
	</div>
	<div class="row mb-2">
		<div class="col-lg-8 col-md-8 col-sm-12 mb-2">
			<mat-card class="data-charts">
			  <mat-card-content>
			  	<div id="curvedLineChart" class="chart-container"></div>
			  </mat-card-content>
			</mat-card>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-12 mb-2">
			<mat-card class='mb-2 data-charts'>
			  <mat-card-content>
			  	<div id="donutChart2" class="chart-container"></div>
			  </mat-card-content>
			</mat-card>
		</div>
	</div>
</section>
<button mat-mini-fab class="filter-button" (click)="openFilterDailog()">
  <mat-icon>filter_list</mat-icon>
</button>