
    <mat-tab-group  >
        <mat-tab label="Users"> 
          <mat-card class="card">
           <mat-accordion class="accordian">
                <mat-expansion-panel *ngFor="let list of data" class="mb-1">
                 
                  <mat-expansion-panel-header>
                 <mat-panel-title>
                      <img
                      [src]="list.url"
                      alt=""
                      style="width: 45px; height: 45px"
                      class="rounded-circle"
                      />
                    </mat-panel-title>
                    <mat-panel-title class="fname">
                    {{ list.firstName }} {{ list.lastName }}
                    </mat-panel-title>
                    <mat-panel-title class="fname">
                      {{ list.designation }}
                    </mat-panel-title>
                    
                    <mat-panel-title>
                      <mat-chip-option selected [color]="list.color" [selectable]="true">
                        {{ list.status }}
                      </mat-chip-option>
                    </mat-panel-title>
   
           </mat-expansion-panel-header>
           
                  <p>{{ list.position }}</p>
                  <p><strong>Email:</strong> {{ list.email }}</p>
                  <p><strong>Company Name: </strong>{{ list.company }}</p>
                  <p><strong>Role: </strong>{{ list.role }}</p>
                  <p><strong>Details: </strong>{{ list.position }}</p>
                  <p><button
                    mat-icon-button
                    color="secoundry"
                    aria-label="Example icon button with a home icon">
                    <mat-icon color="red">edit</mat-icon>
                  </button>  
                   <button
                  mat-icon-button
                  color="secoundry"
                  aria-label="Example icon button with a home icon">
                  <mat-icon color="red">delete</mat-icon>
                </button>
                </p>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-card>

              <!-- <div class="cards-column">
                <mat-card class="card-item">
                  <div class="user-text ">Total Number of Users: 11</div>
                </mat-card>
                <mat-card class="card-item">
                  <div class="user-text">Total working Users: 11</div>
                </mat-card>
                <mat-card class="card-item">
                  <div class="user-text">Total disabled Users: 11</div>
                </mat-card>
               
              </div> -->
            </mat-tab>
            <mat-tab label="device">
              <mat-card class="card">
                <mat-accordion class="accordian">
                     <mat-expansion-panel *ngFor="let list of data" class="mb-1">
                      
                       <mat-expansion-panel-header>
                      <mat-panel-title>
                           <img
                           [src]="list.url"
                           alt=""
                           style="width: 45px; height: 45px"
                           class="rounded-circle"
                           />
                         </mat-panel-title>
                         <mat-panel-title class="fname">
                         {{ list.firstName }} {{ list.lastName }}
                         </mat-panel-title>
                         <mat-panel-title class="fname">
                           {{ list.designation }}
                         </mat-panel-title>
                         
                         <mat-panel-title>
                           <mat-chip-option selected [color]="list.color" [selectable]="true">
                             {{ list.status }}
                           </mat-chip-option>
                         </mat-panel-title>
        
                </mat-expansion-panel-header>
                
                       <p>{{ list.position }}</p>
                       <p><strong>Email:</strong> {{ list.email }}</p>
                       <p><strong>Company Name: </strong>{{ list.company }}</p>
                       <p><strong>Role: </strong>{{ list.role }}</p>
                       <p><strong>Details: </strong>{{ list.position }}</p>
                       <p><button
                         mat-icon-button
                         color="secoundry"
                         aria-label="Example icon button with a home icon">
                         <mat-icon color="red">edit</mat-icon>
                       </button>  
                        <button
                       mat-icon-button
                       color="secoundry"
                       aria-label="Example icon button with a home icon">
                       <mat-icon color="red">delete</mat-icon>
                     </button>
                     </p>
                     </mat-expansion-panel>
                   </mat-accordion>
                 </mat-card>
            </mat-tab>
            <mat-tab label="alert">
              <mat-card class="card">
                <mat-accordion class="accordian">
                     <mat-expansion-panel *ngFor="let list of data" class="mb-1">
                      
                       <mat-expansion-panel-header>
                      <mat-panel-title>
                           <img
                           [src]="list.url"
                           alt=""
                           style="width: 45px; height: 45px"
                           class="rounded-circle"
                           />
                         </mat-panel-title>
                         <mat-panel-title class="fname">
                         {{ list.firstName }} {{ list.lastName }}
                         </mat-panel-title>
                         <mat-panel-title class="fname">
                           {{ list.designation }}
                         </mat-panel-title>
                         
                         <mat-panel-title>
                           <mat-chip-option selected [color]="list.color" [selectable]="true">
                             {{ list.status }}
                           </mat-chip-option>
                         </mat-panel-title>
        
                </mat-expansion-panel-header>
                
                       <p>{{ list.position }}</p>
                       <p><strong>Email:</strong> {{ list.email }}</p>
                       <p><strong>Company Name: </strong>{{ list.company }}</p>
                       <p><strong>Role: </strong>{{ list.role }}</p>
                       <p><strong>Details: </strong>{{ list.position }}</p>
                       <p><button
                         mat-icon-button
                         color="secoundry"
                         aria-label="Example icon button with a home icon">
                         <mat-icon color="red">edit</mat-icon>
                       </button>  
                        <button
                       mat-icon-button
                       color="secoundry"
                       aria-label="Example icon button with a home icon">
                       <mat-icon color="red">delete</mat-icon>
                     </button>
                     </p>
                     </mat-expansion-panel>
                   </mat-accordion>
                 </mat-card>
            </mat-tab>
            <mat-tab label="Notif">
              <mat-card class="card">
                <mat-accordion class="accordian">
                     <mat-expansion-panel *ngFor="let list of data" class="mb-1">
                      
                       <mat-expansion-panel-header>
                      <mat-panel-title>
                           <img
                           [src]="list.url"
                           alt=""
                           style="width: 45px; height: 45px"
                           class="rounded-circle"
                           />
                         </mat-panel-title>
                         <mat-panel-title class="fname">
                         {{ list.firstName }} {{ list.lastName }}
                         </mat-panel-title>
                         <mat-panel-title class="fname">
                           {{ list.designation }}
                         </mat-panel-title>
                         
                         <mat-panel-title>
                           <mat-chip-option selected [color]="list.color" [selectable]="true">
                             {{ list.status }}
                           </mat-chip-option>
                         </mat-panel-title>
        
                </mat-expansion-panel-header>
                
                       <p>{{ list.position }}</p>
                       <p><strong>Email:</strong> {{ list.email }}</p>
                       <p><strong>Company Name: </strong>{{ list.company }}</p>
                       <p><strong>Role: </strong>{{ list.role }}</p>
                       <p><strong>Details: </strong>{{ list.position }}</p>
                       <p><button
                         mat-icon-button
                         color="secoundry"
                         aria-label="Example icon button with a home icon">
                         <mat-icon color="red">edit</mat-icon>
                       </button>  
                        <button
                       mat-icon-button
                       color="secoundry"
                       aria-label="Example icon button with a home icon">
                       <mat-icon color="red">delete</mat-icon>
                     </button>
                     </p>
                     </mat-expansion-panel>
                   </mat-accordion>
                 </mat-card>
            </mat-tab>
            </mat-tab-group>
