.content {
	padding-top: 10vh;
	padding-bottom: 5vh;
	padding-left: 5vh;
}
.users {
	padding-top: 13vh;
	padding-bottom: 5vh;
  }
  
  .mat-mdc-row .mat-mdc-cell {
	border-bottom: 1px solid transparent;
	border-top: 1px solid transparent;
	cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
	border-color: currentColor;
  }
  @media (max-width: 750px){
	.top-mar{
		margin: 10px;
	}
	
  }
  @media (max-width: 1024px){
	.top-mar{
		margin: 10px;
	}
	
  }